<fieldset>
  <legend>Orders</legend>

  <div>
    <label for="symbol">Symbol :</label>
    <input id="symbol" type="text" [(ngModel)]="symbol" (ngModelChange)="symbolChanged()" placeholder="Exemple: TRX">
    {{symbolPrice}}
  </div>

  <div>
    <button (click)="placeOrder('buy')">Buy!</button>
    {{quantityCoinFromBuy}} {{coinFrom}} ==> {{quantityCoinBuy}} {{coin}}
  </div>

  <div>
    <button (click)="placeOrder('sell')">Sell!</button>
    {{quantityCoinSell}} {{coin}} ==> {{quantityCoinFromSell}} {{coinFrom}}
  </div>

  <div>
    <button role="button" (click)="clicked(1)">100%</button>
    <button role="button" (click)="clicked(0.75)">75%</button>
    <button role="button" (click)="clicked(0.50)">50%</button>
    <button role="button" (click)="clicked(0.25)">25%</button>
  </div>

</fieldset>
